<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Home Page</title>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    body {
        font-family: "sans-serif", Georgia, Serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "sans-serif";
        letter-spacing: 5px;
    }
</style>
<body>

<div class="w1-row-padding w3-section"></div>

<div class="w3-container">
    <header class="w3-container w3-teal">
        <h1>CRM - Customer Relationship Manager</h1>
    </header>
</div>

<div class="w3-row-padding w3-section"></div>

<div class="w3-container">
    <a href="/addCustomer.html"
       class="w3-btn w3-white w3-border w3-border-teal w3-round-large">Add Customer</a>
</div>

<div class="w3-row-padding w3-section"></div>


<div class="w3-container">
    <table class="w3-large w3-striped w3-bordered w3-border w3-centered w3-text-black" style="width:100%">
        <tr>
            <th class="w3-teal">First Name</th>
            <th class="w3-teal">Last Name</th>
            <th class="w3-teal">Email</th>
            <th class="w3-teal">Action</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.firstName}"/>
            <td th:text="${customer.lastName}"/>
            <td th:text="${customer.email}"/>
            <td>
<!--                link tags by default call Get method type-->
                <a th:href="@{/update/{id}(id=${customer.id})}"
                   class="w3-btn w3-bar-item w3-text-teal w3-border-right">Update</a>
                <a th:href="@{/delete/{id}(id=${customer.id})}"
                   class="w3-btn w3-bar-item w3-text-teal">Delete</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>